* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: $defaultFontRegular;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 25px;
}

::selection {
    background: #cfd7ef;
}
