// **********************************************
// navbar
.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    &:after {
        content: '';
        border-bottom: 1px solid #bdb5af;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .hamburger {
        display: none;
    }
    .list {
        list-style: none;
        li {
            display: inline;
            margin-left: 30px;
            a {
                text-decoration: none;
                font-family: $defaultFontBold;
                color: $globalTextColor;
                img {
                    @include btnLogoImg;
                }
            }
            &:last-of-type a {
                @include btn;
                color: $globalBlueColor;
                transition-duration: .2s;
                transition-timing-function: ease-in;
                svg {
                    vertical-align: middle;
                }
                &:hover {
                    background-color: $globalBlueColor;
                    color: #FFF;
                    .logo-color {
                        display: none;
                    }
                }
            }
            &:hover a {
                color: $globalBlueColor;
            }
        }
    }
}
// **********************************************
// hero
.hero {
    margin: 100px 0;
    &:after {
        @include clearfix;
    }
    &-left {
        float: left;
        line-height: 1.5;
        max-width: 518px;
        &-title h1 {
            font-family: $defaultFontBold;
            font-size: 50px;
            color: $globalTextColor;
            margin-bottom: 30px;
        }
        &-title p {
            font-size: 22px;
            color: $globalTextColor;
            margin-bottom: 40px;
        }
        &-login {
            margin-bottom: 20px;
            a:first-of-type {
                @include btn;
                @include btnMain;
                img {
                    @include btnLogoImg;
                }
            }
            span {
                display: inline-block;
                height: 35px;
                width: 38px;
                line-height: 35px;
                color: #bdb5af;
                text-align: center;
            }
            a:last-of-type {
                @include btn;
                @include btnMain;
                img {
                    @include btnLogoImg;
                }
            }
            a {
                transition-duration: .2s;
                transition-timing-function: ease-in;
            }
            a:hover {
                background-color: darken($globalBlueColor, 12);
            }
        }
        &-login-extra a {
            color: $globalTextColor;
            &:hover {
                color: $globalBlueColor;
            }
            img {
                width: 15px;
                height: 15px;
                vertical-align: middle;
                color: $globalTextColor;
            }
        }
    }
    &-right {
        float: right;
        margin-bottom: 36px;
        img {
            max-width: 570px;
            margin-bottom: 70px;
        }
    }
}
