@media screen and (max-width: $mediaL) {
    .hero {
        &-left {
            float: none;
            line-height: 1.4;
            margin: 0 auto;
            max-width: 750px;
            text-align: center;
        }
        &-right {
            margin-top: 20px;
            float: none;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media screen and (max-width: $mediaM) {
    .wrapper {
        padding: 0;
    }
    .navbar {
        height: 55px;
        .logo {
            padding-left: 25px;
        }
        .hamburger {
            padding-right: 25px;
            display: block;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 26px;
                height: 26px;
            }
        }
        .list {
            display: none;
        }
    }
    .hero {
        padding: 0 25px;
    }
}

@media screen and (max-width: $mediaS) {
    .hero {
        &-left {
            line-height: 1.2;
        }
        &-left-login {
            a {
                width: 100%;
            }
        }
        &-right {
            img {
                max-width: 100%;
            }
        }
    }
}
