$globalTextColor: #58402c;
$globalBlueColor: #30488f;

$defaultFontBold: HarmoniaSansProCyrSemiBd, Arial, sans-serif;
$defaultFontRegular: HarmoniaSansProCyrRegular, Arial, sans-serif;

$mediaL: 1037px;
$mediaM: 768px;
$mediaS: 485px;
